<configuration>
  <appender userName="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.out</target>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%level] %t %c:%M:%L - %m%n</pattern>
    </encoder>
  </appender>

  <logger userName="org.springframework" level="WARN"/>
  
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>